#lectures/week_2
lectures/week_3
lectures/week_4
lectures/3.0 Concurency.md
lectures/4.0 HTTP.md
# lectures/2.0 Functions&Structures.md
lectures/2.0 Functions&Structures.pdf
lectures/2.0 Functions&Structures.html
lectures/2.0 Functions&Structures/